<a href="https://colab.research.google.com/github/gustavogrds/TIC_01_2021/blob/main/2022_S2_A2_impar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Avaliação N2 
***
Alunos com **TIA Ímpar**

Faça os exercícios propostos e em seguida responda ao **questionário no Moodle**.

*Boa prova!*

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.lines import Line2D
import seaborn as sns

# **Exercício 1.** Clustering, Segmentando Países pela Força de Trabalho 
Questões no Moodle **Q1, Q2, Q3**

Esta base de dados contém a percentagem da população empregada em diferentes indústrias em 26 países europeus em 1979. 

- Country - o nome do país (identificador)
- Agr -% da força de trabalho empregada na agricultura
- Min -% na mineração
- Man -% na fabricação
- PS -% nas indústrias de fornecimento de energia
- Con - % em construção
- SI -% nas indústrias de serviços
- Fin -% em finanças
- SPS -% em serviços sociais e pessoais
- TC -% em transporte e comunicações

Fonte: https://statsandr.com/ 

**Objetivo:** Segmentar os países em grupos para aplicação de diferentes políticas públicas empregando uma **Clusterização  Hierárquica**.

In [ ]:
import pandas as pd
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/Eurojobs.csv')
df.head()

      Country   Agr  Min   Man   PS  Con    SI  Fin   SPS   TC
0     Belgium   3.3  0.9  27.6  0.9  8.2  19.1  6.2  26.6  7.2
1     Denmark   9.2  0.1  21.8  0.6  8.3  14.6  6.5  32.2  7.1
2      France  10.8  0.8  27.5  0.9  8.9  16.8  6.0  22.6  5.7
3  W. Germany   6.7  1.3  35.8  0.9  7.3  14.4  5.0  22.3  6.1
4     Ireland  23.2  1.0  20.7  1.3  7.5  16.8  2.8  20.8  6.1

## Inspecione os dados

In [ ]:
# seu código

## Preparação dos dados

Normalize os dados empregando o `StandardScaler` (melhor) ou `scale`.

$$ z_i = \frac{x_i - \bar{x}}{\sigma(x)}$$

E não esqueça de excluir dados não úteis ao treinamento.

In [ ]:
# seu código

## Número de Cluster

**Q1**. Qual ao valor médio de silhueta para o melhor número de clusters com a *clusterização hierárquica aglomerativa*? (verifique de 2 a 10 clusters)

In [ ]:
# seu código

## Clusterização, 3 Clusters

O número de clusters não segue um único critério e normalmente é feita uma análise conjunta de várias métricas. Sabemos que esse conjunto, independente do valor que você obteve no item anterior é 3. Faça assim a clusterização para 3 clusters.

**Q2**. Quantos elementos você encontra em cada cluster?

> Empregue a função distância `cosine` o esquema de ligação `complete`. Não empregue quaisquer outros parâmetros.

In [ ]:
# seu código

## Analisando os Grupos

Analise os valores médios dos grupos e os países pertencentes a cada grupo.

**Q3**. Há um grupo que se caracteriza por um % médio maior da força de trabalho empregada na agricultura. Qual esse percentual e que países fazem parte dele?

In [ ]:
# seu código

In [ ]:
# seu código